@model StudentModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<UserApp> userManager

@{
    ViewData["Title"] = "Cabinet";
}

<div class="alert alert-info" role="alert">
    Добавление предмета и их редактирование
</div>
<form asp-action="AddStudentModel" asp-controller="Student">
    @{
        string id = Context.Request.Path;
    }
    <input type="hidden" value="@id.Split('/')[3]" name="userAppId" />

    <div class="form-floating mb-3">
        <label asp-for="Subject" class="control-label">Предмет</label>
        <input type="text" asp-for="Subject" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Teacher" class="control-label">Учитель(ФИО)</label>
        <input type="text" asp-for="Teacher" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Credits" class="control-label">Credits</label>
        <input type="text" asp-for="Credits" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Hours" class="control-label">Часы</label>
        <input type="number" asp-for="Hours" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Assessment" class="control-label">Оценка</label>
        <input type="number" asp-for="Assessment" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Assessment_EKTC" class="control-label">EKTC</label>
        <input type="text" asp-for="Assessment_EKTC" class="form-control" required />
    </div>
    <div class="form-floating mb-3">
        <label asp-for="Note" class="control-label">Дополнительно</label>
        <input type="text" asp-for="Note" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Предмет</th>
            <th scope="col">Препод</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.Student)
        {
            <tr>
                <th scope="row">@user.ID</th>
                <td>@user.Subject</td>
                <td>@user.Teacher</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="EditStudentModel" asp-route-id="@user.ID" class="btn btn-primary">Редактировать</a>
                        <a asp-action="DeleteStudentModel" asp-route-id="@user.ID" class="btn btn-danger">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
